@model SupplierMVC.Models.SupplierData
@using SupplierMVC.Models
@{
    ViewData["Title"] = "Details";
}



<div>
    <h2 class="text-success">Supplier Details</h2>
    <hr />
    <div class="table-responsive">
        <table style="width:400px" class="table table-bordered">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.supplierId)</td>
                    <td>@Html.DisplayFor(model => model.supplierId)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.supplierName)</td>
                    <td>@Html.DisplayFor(model => model.supplierName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.supplierBulstat)</td>
                    <td>@Html.DisplayFor(model => model.supplierBulstat)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.supplierAddress)</td>
                    <td>@Html.DisplayFor(model => model.supplierAddress)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.supplierEmail)</td>
                    <td>@Html.DisplayFor(model => model.supplierEmail)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.supplierPhone)</td>
                    <td>@Html.DisplayFor(model => model.supplierPhone)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.supplierId">Edit</a> 
        <a class="btn btn-primary" asp-action="Index">Back to List</a><br /><br />
    </div>
    <h2 class="text-info">Supplier Product Details</h2>
    <hr />
    <partial name="_ProductViewPartial" model="Model.Products" />
    
</div>

