@model IEnumerable<SupplierMVC.Models.SupplierData>

@{
    ViewData["Title"] = "Index";
}

<h1>All Supplier Details</h1>

<div class="row justify-content-between">
    <div class="col-4">
        <p>
            <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i> Create New</a>
        </p>
    </div>
    <div class="col-4">
        <div class="input-group ">
           <form asp-controller="Supplier" asp-action="Index">
                <div  class="d-flex">
                    <input type="text" name="SearchString" class="form-control me-2" placeholder="Search Supplier" aria-label="Search Supplier" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary d-flex" type="submit" id="button-addon2">Filter </button>
                </div>
           </form>
        </div>
    </div>
  </div>
<div class="table-responsive">
    <table class="table table-bordered align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.supplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierBulstat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierPhone)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.supplierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierBulstat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierPhone)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.supplierId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.supplierId  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.supplierId  })
            </td>*@
            <partial name="_TableButtonPartial" model="item.supplierId" />
        </tr>
}
    </tbody>
</table>
</div>

